<form #scoreForm="ngForm">
  <div class="form-group">
    <label for="team1">Team 1</label>
    <input type="text" class="form-control" name="team1"
    [(ngModel)]="team1" placeHolder="Team 1..." required>
  </div>

  <div class="form-group">
    <label for="team2">Team 2</label>
    <input type="text" class="form-control" name="team2"
    [(ngModel)]="team2" placeHolder="Team 2..." required>
  </div>

  <div class="form-group">
    <label for="alterEgo">Winning Score</label>
    <input type="number" class="form-control" name="points"
    [(ngModel)]="points" required>
  </div>

  <div class="form-group">
    <label for="cap">Is there a pointcap?</label>
    <input type="checkbox" class="form-control" name="cap"
    [(ngModel)]="cap" required>
  </div>

  <button class="submit" (click)="selected()">Submit</button>

</form>