<h1>Scorekeeper</h1>
<div *ngIf="!teamsSelected">
  <app-scoreform (submitted)="onSubmitted($event)"></app-scoreform>
</div>
<div *ngIf="teamsSelected">
  <table class="match">
    <tr>
      <th>Name</th>
      <th>{{team1.name | titlecase}}</th>
      <th>{{team2.name | titlecase}}</th>
    </tr>
    <tr>
      <th>Points</th>
      <td>
        <button (click)="addPoint(team1)" [disabled]="gameOver"><i class="fas fa-plus"></i></button>
        {{team1.points}}
        <button (click)="substractPoint(team1)" [disabled]="gameOver"><i class="fas fa-minus"></i></button>
      </td>
      <td>
        <button (click)="addPoint(team2)" [disabled]="gameOver"><i class="fas fa-plus"></i></button>
        {{team2.points}}
        <button (click)="substractPoint(team2)" [disabled]="gameOver"><i class="fas fa-minus"></i></button>
      </td>
    </tr>
    <tr>
      <th class="no-border">Rounds</th>
      <td class="no-border">{{team1.roundsWon}}</td>
      <td class="no-border">{{team2.roundsWon}}</td>
    </tr>
  </table>
  <div *ngIf="gameOver" class="win-message">
    <h3>{{winner | titlecase}} has won {{finalStandings}}!</h3>
    <button class="submit" (click)="postMatchData()" [disabled]="matchDataSent">
      Press here to add the results to the Database
    </button>
    <a routerLink="/home" class="discard-link">Or press here to discard the match</a>
    <p>{{errorMessage}}</p>
  </div>
</div>