<h1>Scorekeeper</h1>
<div *ngIf="!teamsSelected">
  <app-scoreform (submitted)="onSubmitted($event)"></app-scoreform>
</div>
<div *ngIf="teamsSelected">
  <table>
    <tr>
      <th>Name</th>
      <th>{{team1.name | titlecase}}</th>
      <th>{{team2.name | titlecase}}</th>
    </tr>
    <tr>
      <th>Points</th>
      <td>
        <button (click)="addPoint(team1)" [disabled]="gameOver">+</button>
        {{team1.points}}
        <button (click)="substractPoint(team1)" [disabled]="gameOver">-</button>
      </td>
      <td>
        <button (click)="addPoint(team2)" [disabled]="gameOver">+</button>
        {{team2.points}}
        <button (click)="substractPoint(team2)" [disabled]="gameOver">-</button>
      </td>
    </tr>
    <tr>
      <th>Rounds</th>
      <td>{{team1.roundsWon}}</td>
      <td>{{team2.roundsWon}}</td>
    </tr>
  </table>
  <h3 *ngIf="gameOver">{{winner | titlecase}} has won {{finalStandings}}!</h3>
</div>