<div class="container">
  <h1>Login</h1>

  <form (ngSubmit)="onSubmit()" #formElement="ngForm">

    <div class="form-group mb3">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" #usernameElement="ngModel"
      [(ngModel)]="username" placeHolder="Username..." required minlength="4">
      <div class="form-validation-msg" [hidden]="usernameElement.valid || usernameElement.pristine">
        Username is required and must be at least 4 characters
      </div>
    </div>
  
    <div class="form-group mb3">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" #passwordElement="ngModel"
      [(ngModel)]="password" placeHolder="Password..." required minlength="4">
      <div class="form-validation-msg" [hidden]="passwordElement.valid || passwordElement.pristine">
          Password is required and must be at least 4 characters
        </div>
    </div>

    <button class="submit" (click)="login()" [disabled]="!formElement.form.valid">Submit</button>

  </form>
  <h2 class="errorMessage">{{errorMessage}}</h2>
</div>