:root {
  --tangerine: rgb(227, 114, 34);
  --teal: rgb(7, 136, 155);
  --powder: rgb(102, 185, 191);
  --powder-light: rgba(102, 185, 191, 0.4);
  --tan: rgb(238, 170, 123);
}
h1.header {
  font-size: 5rem;
}
.container{
  margin: 3rem;
}
nav {
  margin: 0;
  margin-bottom: 3rem;
  padding: 1rem 0;
  background-color: var(--powder);
}
a {
  padding: 1rem;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
a:hover{
  background-color: var(--powder-light);
}
a.active {
  color: white;
  background-color: var(--teal);
}
.content {
  margin: 0 3rem;
}